<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="c3p0.min_size">5</property>
	<property name="c3p0.max_size">100</property>
    <property name="c3p0.timeout">1800</property>
    <property name="c3p0.max_statements">100</property>
    <!--<property name="c3p0.poolPreparedStatements">true</property>-->

	<mapping resource="com/hzih/bsps/domain/xml/Account.hbm.xml" />
	<mapping resource="com/hzih/bsps/domain/xml/Role.hbm.xml" />
	<mapping resource="com/hzih/bsps/domain/xml/BusinessLog.hbm.xml" />
	<mapping resource="com/hzih/bsps/domain/xml/Permission.hbm.xml" />
	<mapping resource="com/hzih/bsps/domain/xml/SafePolicy.hbm.xml" />
	<mapping resource="com/hzih/bsps/domain/xml/SysLog.hbm.xml" />
	<mapping resource="com/hzih/bsps/domain/xml/UserOperLog.hbm.xml" />

    <mapping resource="com/hzih/bsps/domain/xml/Https.hbm.xml" />
    <mapping resource="com/hzih/bsps/cs/ProcessEntity.hbm.xml" />
    <!--<mapping resource="com/hzih/bsms/domain/xml/Http.hbm.xml" />-->
    <mapping resource="com/hzih/bsps/domain/xml/Site.hbm.xml" />

    <!--<mapping resource="com/hzih/bsps/domain/xml/UserManage.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/RoleManage.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/RoleManageAndTime.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/RoleUser.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/Resource.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/ResourceIp.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/ResourceWeb.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/Power.hbm.xml" />-->
    <!--<mapping resource="com/hzih/bsps/domain/xml/WapControl.hbm.xml" />-->
</session-factory>
</hibernate-configuration>
